/.DS_Store
/.vscode
/2026_cpp
/2026_data_structure
/DayByDay
/_javaScript.js
/calculator
/clang
/main.py
/package.json
/python
/tempCodeRunnerFile
/tempCodeRunnerFile.c
/tempCodeRunnerFile.py
/test.css
/test.html